footer.main-footer
  .container
    .main-footer__wrap
      p.copy &copy; centrallo 2015
      ul.menu.menu_footer
        li.menu__item
          a.menu__link(href="#") privacy
        li.menu__item
          a.menu__link(href="#") terms
        li.menu__item
          a.menu__link(href="#") contact
      ul.menu.menu_social
        li.menu__item
          a.menu__link.menu__link_tw(href="#")
        li.menu__item
          a.menu__link.menu__link_fb(href="#")