.store-header
  .container
    .store-header__wrap
      .store__logo
        .logo_tablet
          img(src="images/logo_mobile.svg")
        .logo_mobile
          img(src="images/logo_mobile.svg")
        .store__text
          p.store__title Centrallo
          p.store__desc_tablet Download it for free on the App Store
          p.store__desc_mobile Free on the Google Play
      .store__buttons
        button.store__download Download
        a.store__close(href="#")
header.main-header
  .container
    .main-header__wrap
      a.logo(href="#")
        img(src='images/logo.png')
      p.sign-up
        a(href="#") sign up<span> for free</span>
        | <span> - start publishing in inutes</span>
      ul.menu.menu_log-in
        li.menu__item
          a.menu__link(href="#") log in