header.main-header
  .container
    .main-header__wrap
      a.logo(href="#")
        img(src='images/logo.png')
      p.sign-up
        a(href="#") sign up<span> for free</span>
        | <span> - start publishing in inutes</span>
      ul.menu.menu_log-in
        li.menu__item
          a.menu__link(href="#") log in