header.main-header
  .container
    .main-header__wrap
      a.logo(href="#")
      p.sign-up
        a(href="#") sign up for free 
        |  - start publishing in inutes
      ul.menu.menu_log-in
        li.menu__item
          a.menu__link(href="#") log in