.overlay
article.popup
  header.popup-header
    p.popup__title Share
    a.popup__close(href="#")
  section.popup__content
    a.popup__copy-link(href="#") http://cll.io/a6lnu
    .popup__social
      ul.social
        li.social__item.social__item_fb
          a.social__link.social__link_fb(href="#")
        li.social__item.social__item_tw
          a.social__link.social__link_tw(href="#")
        li.social__item.social__item_vk
          a.social__link.social__link_vk(href="#")
        li.social__item.social__item_linkedin
          a.social__link.social__link_linkedin(href="#")