.main-header
  background-color: #3c434a
  min-height: 60px
  line-height: 60px
  font-size: 13px
  text-transform: uppercase
  color: $menu-text-color
  &__wrap
    display: flex
    justify-content: space-between
    align-items: center

.sign-up
  letter-spacing: 0.3px
  & > a
    text-decoration: underline