extends ../_layouts/_layout

block title 
  | Centrallo

block content
  article.main
    .container
      article.note.note_priority
        .note__wrap
          section.note__content
            form.form_checklist(action="#")
              p
                input#1(type="checkbox")
                label(for="1") Referral Accepted and Invited invitations not sorted by A-Z
              p
                input#2(type="checkbox")
                label(for="2") Inbox shows me 242 items - that includes Done items; Only show me active
              p
                input#3(type="checkbox")
                label(for="3") Inbox defaults to show done items - it should not
              p
                input#4(type="checkbox")
                label(for="4") Lists default to Show Done - they should not
              p
                input#5(type="checkbox")
                label(for="5") Recent view should sort by Created and show no Done items
          section.note__bottom
            p.note__date 2h ago
            .note__share-block
              a.note__share(href="#")
              a.note__copy-link(href="#")
      article.note
        .note__wrap
          section.note__content
            a.list(href="#")
              p.list__title Children
              p.list__amount-items 12 items
              p.list__date 7h ago
            a.list(href="#")
              p.list__title The longest title in the world
              p.list__amount-items 3 items
              p.list__date Mar 13
          section.note__bottom
            p.note__date 2h ago
            .note__share-block
              a.note__share(href="#")
              a.note__copy-link(href="#")
      article.note
        .note__wrap
          section.note__content
            ul.media
              li.media__item
                a.media__link.media__link_video(href="#")
                  img(src="images/video.jpg")
              li.media__item
                a.media__link(href="#")
                  img(src="images/photo1.jpg")
              li.media__item
                a.media__link(href="#")
                  img(src="images/photo2.jpg")
            p.date-of-due Due on Feb 13, 12:42 PM
          section.note__bottom
            p.note__date Feb 14
            .note__share-block
              a.note__share(href="#")
              a.note__copy-link(href="#")
      article.note
        .note__wrap
          section.note__content
            p.note__paragraph The Dark Knight Rises is a 2012 British-American superhero film directed by Christopher Nolan, who co-wrote the screenplay with his brother Jonathan Nolan, and the story with David S. Goyer. Featuring the DC Comics character Batman, the film is the final installment in Nolan's Batman film trilogy, and the sequel to Batman Begins (2005) and The Dark Knight (2008). Christian Bale reprises the lead role of Bruce Wayne/Batman, with a returning cast of allies: Michael Caine as Alfred Pennyworth, Gary Oldman as James Gordon, and Morgan Freeman as Lucius Fox. The film introduces Selina Kyle (Anne Hathaway), a sly, morally ambiguous cat burglar, and Bane (Tom Hardy), a revolutionary bent on destroying Gotham City who forces an older Bruce Wayne to come out of retirement and become Batman again.
            ul.media
              li.media__item
                a.media__link.media__link_video(href="#")
                  img(src="images/bat1.jpg")
              li.media__item
                a.media__link(href="#")
                  img(src="images/bat2.jpg")
              li.media__item
                a.media__link(href="#")
                  img(src="images/bat3.jpg")
              li.media__item
                a.media__link(href="#")
                  img(src="images/bat4.jpg")
          section.address
            .address__maps
              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1798.2718873870904!2d-74.00252731350687!3d40.71096564116526!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a23876025a5%3A0xb2bb12fd1768f07!2zNDExIFBlYXJsIFN0LCBOZXcgWW9yaywgTlkgMTAwMzgsINCh0KjQkA!5e0!3m2!1sru!2sru!4v1466034265840" width="300" height="200" frameborder="0" style="border:0" allowfullscreen)
            .address__text
              p.address__title Merry Bergtraum High School for Business Cariers
              p.address__street 411 Pearl St, NY 10038 <br> United States of America
              a.address__link(href="#") Watch location on Google Maps
          section.note__files
            ul.files
              li.files__item
                a.files__link.files__link_dropbox(href="#") 
                  img(src="images/db.png")
                  p logo_final.eps
              li.files__item
                a.files__link.files__link_skydrive(href="#") 
                  img(src="images/skydrive.png")
                  p photos_summer.zip
              li.files__item
                a.files__link.files__link_doc(href="#") 
                  img(src="images/doc.png")
                  p work_…hard.doc
          section.note__bottom
            p.note__date Jan 12
            .note__share-block
              a.note__share(href="#")
              a.note__copy-link(href="#")
      article.note.note_protected
        .note__wrap
          section.note__bottom
            p.note__date Nov 22
            p.note__status Protected
      article.note.note_archived
        .note__wrap
          section.note__bottom
            p.note__date Nov 21
            p.note__status Archived
    