extends ../_layouts/_layout

block title 
  | Centrallo

block content
  article.main
    .container
      article.note
        .note__wrap
          p.note__date Nov 22
          p.note__status Protected
    