// -----------------------Imports-----------------------

@import "./_common/_vars"
// @import "./_common/_mixins"
@import "./_common/_fonts"
//@import "./_common/_sprite" // Uncomment after the sprite generation

// -----------------------Load plugins ( path to the css-file of the plugins (!rename to .SASS before importing!) )-----------------------

@import "../plugins/normalize-css/normalize"


// -----------------------Basic styles-----------------------

html, body
  height: 100%
  box-sizing: border-box

body
  font: 14px $content-font
  font-smoothing: antialiased

table
  border-collapse: collapse
  border-spacing: 0

h1, h2, h3, h4, h5, h6
  padding: 0
  margin: 0

p
  padding: 0
  margin: 0

a
  text-decoration: none
  color: $links-color
  &:focus
    outline: none
  &:hover
    color: $accent-color

.img
  display: block
  max-width: 100%
  max-height: 100%
  height: auto

.container
  max-width: $container-width
  margin: 0 auto
  position: relative
  padding: 0 30px

.wrapper
  min-height: 100%
  margin: 0
  position: relative
  background-image: resolve('bg.png')

.main
  height: 100%
  padding: 30px 0 90px

//-----------------------Common Styles----------------------------------

.menu
  list-style-type: none
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  &__item
    margin-left: 20px
    &:first-child
      margin-left: 0
  &__link
    color: $menu-text-color
    display: block
    &_tw, &_fb
      background-repeat: no-repeat
    &_tw
      background-image: resolve('tw.svg')
      width: width('tw.svg')
      height: height('tw.svg')
    &_fb
      background-image: resolve('fb.svg')
      width: width('fb.svg')
      height: height('fb.svg')
  &_log-in
    .menu__link
      color: white
      &:hover
        color: $accent-color

.logo
  display: block
  width: width('logo.png')
  height: height('logo.png')
  img
    transform: translateY(-5px)
    width: 100%
    height: 100%

// -----------------------Custom Styles Here-----------------------

//layout Start

@import "./_sections/_header"
@import "./_sections/_person"
@import "./_sections/_note"
@import "./_sections/_popup"
@import "./_sections/_footer"

//layout End

// -----------------------Mediaqueries - Always End!-----------------------
@import "./_common/_media"
